/* Applies to everything */
* {
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

/*--------------- App.js -----------------*/

/* Navigation style on all pages */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #102f42;
  color: white;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

/* Nav bar text */
.nav a {
  text-decoration-line: none;
  color: white;
  font-size: larger;
}

/* When hover over nav link */
nav a:hover {
  text-decoration: 3px underline;
  color: white;
}

/* Brand Logo on top left of Nav */
#navBrand {
  width: 5rem;
}

/* Skip link style on all pages */
.skip-link {
  position: absolute;
  width: 0.25rem;
  height: 0.25rem;
  padding: 0;
  margin: -0.25rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* When skip link shows up */
.skip-link:focus {
  background: white;
  clip: auto;
  height: auto;
  left: 10px;
  padding: 1rem;
  position: fixed;
  top: 0px;
  width: auto;
  z-index: 1001;
}

/* Body of every page */
.main {
  position: relative;
  min-height: 93vh;
}

/* Body of every page - wrapped */
#content-wrap {
  /* Footer height */
  padding-bottom: 10rem;
  width: 100%;
  min-height: 93vh;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
}

/* Footer text */
.footer > a {
  margin: 1rem;
  text-decoration: none;
  color: black;
  font-size: medium;
  font-weight: 700;
}

/* When hover over nav links in footer */
footer a:hover {
  color: white;
}

/* Logos at the Footer */
.logos {
  display: flex;
  justify-content: center;
  height: 2.5vh;
  margin: 1rem;
}

/* Logos - hover color white */
.logos a:hover {
  filter: invert(100%) sepia(1%) saturate(389%) hue-rotate(159deg)
    brightness(119%) contrast(100%);
}

/* Social media logos */
.footerWithSocials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 14vh;
  width: 100%;
  background-color: #5f7b81;
}

/* Screens under 1300px */
@media (max-width: 1300px) {
  .body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 84vh;
  }
  .nav {
    width: 100%;
  }
  .footer {
    display: flex;
    align-items: center;
    word-wrap: normal;
    width: 100%;
  }
  .logos {
    height: 1.5rem;
  }
  .footerWithSocials {
    height: auto;
    bottom: 0;
  }
  #content-wrap {
    padding-bottom: 7rem;
  }
}

/* Screens under 300px */
@media (max-width: 350px) {
  .nav {
    display: flex;
    flex-direction: column;
  }
  .logos {
    height: 1.5rem;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
  }
  #content-wrap {
    padding-bottom: 12rem;
  }
}

/*---------------- Home.js ------------------*/

/* Hero image directly under nav */
.heroOverlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5f7b81;
  color: white;
  padding: 2rem;
  width: 100%;
}

/* "Hi, I'm Zak" */
.zakHeader {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  /* -webkit-text-stroke: 2px black; */
}

/* "Learning Experience Designer" */
.designer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

/* Tags in hero image */
.heroTags {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5f7b81;
  color: white;
}

/* Home page body */
.homeBody {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

/* Container with text and first photo */
.homeThen {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* Container with text and second photo */
.homeNow {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: #e7eaed;
}

/* Title and text together */
.textWithTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10rem;
}

/* Just the first paragraph of text */
.thenText {
  margin-top: 2rem;
  font-size: larger;
}

/* Image in first section */
.thenImage {
  display: flex;
  align-self: center;
  width: 40%;
  max-height: 400px;
}

/* Just the second paragraph of text */
.nowText {
  margin-top: 2rem;
  font-size: larger;
}

/* Image in second section */
.nowImage {
  display: flex;
  align-self: center;
  width: 30%;
  max-height: 500px;
}

/* Testimonials header */
.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

/* Text for below testimonials */
.testimonialsText {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  font-size: larger;
  margin-top: 1rem;
  margin-bottom: -1rem;
}

/* Carousel at the bottom of Testimonials*/
/* The whole carousel */
.mainCarousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-bottom: 2rem;
}
/* The carousel container */
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
/* Where text is housed in carousel */
.carousel-item .carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 8rem;
}
/* Carousel image */
.carousel-item img {
  margin-bottom: 8rem !important;
}
/* The actual text */
.carouselText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

/* Screen under 1500px */
@media (max-width: 1500px) {
  .homeBody {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

/* Screen under 1200px */
@media (max-width: 1200px) {
  .homeThen {
    display: flex;
    flex-direction: column-reverse;
  }
  .textWithTitle {
    margin: 3rem;
  }
}

/* Screens under 800px */
@media (max-width: 850px) {
  .thenImage {
    margin-top: 2rem;
  }
  .homeNow {
    display: flex;
    flex-direction: column;
  }
  .nowImage {
    margin-top: 2rem;
  }
  .carousel {
    width: 100%;
  }
  .carouselText {
    font-size: 80%;
  }
  p {
    font-size: small;
  }
}

/* Screens under 500px */
@media (max-width: 500px) {
  .heroOverlay {
    text-align: center;
  }
  .homeBody {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .carousel {
    width: 100%;
  }
  .carouselText {
    font-size: 70%;
  }
}

@media (max-width: 300px) {
  .homeBody {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}

/*--------------- Portfolio Page -----------------*/

/* Portfolio body */
.portfolioContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

/* Top of page header */
.PortfolioHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  margin-top: 2rem;
}

/* Card style */
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: masonry;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem; */

  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  height: max-content;
  flex-flow: row wrap;
  counter-reset: brick;
  width: 95vw; */

  /* display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-template-rows: masonry; */
}

/* Each individual card */
.individualCard {
  width: 85%;
  margin-bottom: 1rem;
  /* flex: 1 0 calc(50% - 2rem);
  margin: 1rem; */
}

/* Screens under 1700px */
@media (max-width: 1700px) {
  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .individualCard {
    width: 90%;
  }
}

/* Screens under 800px */
@media (max-width: 800px) {
  .PortfolioHeader {
    text-align: center;
    font-size: x-large;
    margin: 2rem;
  }
}

/*--------------- Materials Page -----------------*/

/* Materials page body */
.materialsBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  margin-top: 2rem;
}

/* Header on materials page */
.materialsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

/* The images on materials page */
.avatar-square {
  width: 30rem;
}

/* Buttons on materials page */
.button {
  margin: 1rem;
}

/* Screens under 525px */
@media (max-width: 525px) {
  .avatar-square {
    width: 70%;
  }
}

/*---------------- Contact Page ------------------*/

/* Contact page body */
.contactBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  margin-top: 3rem;
}

/* Form page container */
.formContainer {
  margin-top: 5rem;
}

/* Text at the top of contact page */
.text-center {
  margin-left: 10rem;
  margin-right: 10rem;
}

/* The text of the modal */
.modalBody {
  margin: 5rem;
  text-align: center;
  font-size: large;
}

/* The "return home" button */
.modalLink {
  text-decoration: none;
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: white;
  text-align: center;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

@media (max-width: 1000px) {
  .text-center {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media (max-width: 500px) {
  .text-center {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
